@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variables */
:root {

	/* h1 */
	--h1-family: "Instrument Sans", sans-serif;
	--h1-size: 64px; 
	--h1-style: medium;
	--h1-spacing: 2rem;
	--h1-text-transform: uppercase;
	--h1-color: #DA3946;

	/* h2 */
	--h2-family: "Instrument Sans", sans-serif;
	--h2-size: 40px; 
	--h2-style: medium;

	/* h3 */
	--h3-family: "Instrument Sans", sans-serif;
	--h3-size: 32px; 
	--h3-style: medium;

	/* paragraph  */
	--paragraph-family: "Instrument Sans", sans-serif;
	--paragraph-size: 18px; 
	--paragraph-style: normal;
	--paragraph-spacing: 2rem;
	--paragraph-line-height:1.5rem;

	/* blockquotes */
	--blockquote-family: "Instrument Sans", sans-serif;
	--blockquote-size: 28px; 
	--blockquote-style: medium;
	--blockquote-spacing: 2rem;
	--blockquote-color: #DA3946;
	--blockquote-border-left:1px solid #DA3946;
	--blockquote-padding-left:20px;

	/* links */
	--links-family: "Instrument Sans", sans-serif;
	--links-size: 18px; 
	--links-style: bold;
	--links-text-decoration: underline;

	/* list */
	--list-family: "Instrument Sans", sans-serif;
	--list-size: 18px; 
	--list-style: bold;
	--list-spacing: 2rem;	

	/* spacing */
	--spacing-1: 16px;
	--spacing-2: 32px; 
	--spacing-3: 48px;
	--spacing-4: 64px;
	--spacing-5: 80px;
	--spacing-6: 96px;
	--spacing-7: 112px;
	--spacing-8: 128px;

}

	/* heading styles */

h1 {
	font-family: var(--h1-family);
	font-size: var(--h1-size);
	font-style: var(--h1-style);
	margin-bottom: var(--h1-spacing);
	text-transform: var(--h1-text-transform);
	color: var(--h1-color);
	margin-bottom: var(--spacing-3);
	flex-direction: row;
	
}

h2 {
	font-family: var(--h2-family);
	font-size: var(--h2-size);
	font-style: var(--h2-style);
	margin: 0px var(--spacing-2);
	background-color: white;
	padding-top: var(--spacing-4);
}

h3 {
	font-family: var(--h3-family);
	font-size: var(--h3-size);
	font-style: var(--h3-style);
	margin-bottom: var(--spacing-2);
	margin: 0px var(--spacing-2);
	background-color: white;
	padding-top: var(--spacing-5);
}

header{
	position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000; 
}

	/* body styles */

body{
	font-family: var(--paragraph-family);
	max-width: 80ch;
	color: #02010F;
}
	

/* section {
	margin-bottom: var(--spacing-6);
} */

li {
	font-family: var(--list-family);
	font-size: var(--list-size);
	font-style: var(--list-style);
	line-height: var(--list-spacing);
	text-decoration: var(--list-text-decoration);
	margin: 0px var(--spacing-2);
}

a {
	font-family: var(--links-family);
	font-size: var(--links-size);
	font-style: var(--links-style);
	line-height: var(--links-spacing);
	text-decoration: var(--links-text-decoration);
}


blockquote {
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin-bottom: var(--spacing-2);
	margin: 0px var(--spacing-2);
	border-left: var(--blockquote-border-left);
	padding-left: var(--blockquote-padding-left);
	list-style-type: none;
}

p {
	font-family: var(--paragraph-family);
	font-size: var(--paragraph-size);
	font-style: var(--paragraph-style);
	line-height: var(--paragraph-spacing);
	margin-bottom: var(--spacing-1);
	margin: var(--spacing-2);
	line-height: var(--para);
}

time{
	margin: var(--spacing-2);
}

	/* nav bar */

nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: var(--spacing-3) var(--spacing-2);
	color: black;
	width: 100%;
}

.nav-left {
	font-family: sans-serif;
	font-size: 20px;
	font-style: normal;
}

nav strong{
	font-style: medium;
}

.hamburger{
	cursor: pointer;
	font-size: 30px;
	color: #DA3946;
}

.menu{
	display: none;
	background-color: white;
	border: 1px solid #DA3946;
	margin-bottom: var(--spacing-3);
}

.menu.active {
	display: block;
}

.menu li{
	padding: 10px 0px;
}
.menu li a{
	color:black;
	text-decoration: none;
}

@media (max-width:768px){
	nav{
		flex-direction: row;
	}
}


.sticky{
	position: sticky;
	top: 0px;
	z-index:1000;
}

	/* chapter */

.chapter{
	color:#DA3946;
	margin-left: var(--spacing-3);
	margin-top: var(--spacing-3);
}

	/* summary */

.summary{
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin: var(--spacing-1) var(--spacing-2);
	border-bottom: 1px solid #DA3946;
}

	/* questions lists */

.questions_list{
	font-family: var(--blockquote-family);
	font-size: 48px;
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin: var(--spacing-1) var(--spacing-2);
	border: 1px solid #DA3946;
	padding: var(--spacing-2);
	list-style-type: none;
}

	/* multiple choices */

.container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-sart;
	justify-content: space-between;
	width:100%;
	margin: var(--spacing-3) var(--spacing-2);
}

.left-sction{
	flex:1;
	font-size: var(--paragraph-size);
	margin-right: var(--spacing-4);
	padding-top: 0px;
}
.right-section{
	flex:2;
}
.multiple-choices{
	display: flex;
	flex-wrap: wrap;
	gap:10px;
}
.multiple-choices button {
	border: 1px solid #DA3946;
	padding: var(--spacing-1) var(--spacing-2);
	background-color: white;
	color: #DA3946;
	font-size: var(--paragraph-size);
	cursor:pointer;
}

.multiple-choices button:hover{
	background-color: #DA3946;
	color: white;
}

.multiple-choices button:active{
	background-color: #DA3946;
	color: white;
}

	/* flexblox(should be added into class later) */
/* ol {
	display: flex;
	flex-wrap: nowrap;
}

ol ol {
	flex-direction: column;
} */


	/* title */

.square-container {
	display: flex; 
	background-color: white;
	overflow: hidden;
	position: relative;
	width: 100%; 
}

.square {
	width: var(--spacing-5);
	height: var(--spacing-5);
	border-top: 1px solid #DA3946;
	border-bottom: 1px solid #DA3946;
	border-left: 1px solid #DA3946;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#middlesquare {
	border-top: 0px;
	border-bottom: 0px;
}

#lastsquare { 	/* adding line to the end of the squares */
	border-right: 1px solid #DA3946;
}

#bottomsquarecontainer {
	display: flex;
	justify-content: flex-end;
}

#bottomsquare {
	border-top: 0px;
}

@media (min-width: 744px) {
	.square { 
	width: var(--spacing-6);
	height: var(--spacing-6);
	}
}

@media (min-width: 1512px) {
	.square { 
	width: var(--spacing-8);
	height: var(--spacing-8);
	}
}


/* need to figure out how to remove line on the top of the "l" in "material""*/

#s-square{ 
	border-top: 0px solid #DA3946;
	border-bottom: 0px solid #DA3946;
	border-right: 1px solid #DA3946;
}

/* Defining the animations for "WORDS"*/

/* Defining the animation for "W"*/

@keyframes w-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(24px) translateX(2px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#w {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: w-moves 5s ease-in-out infinite;
}

/* Defining the animation for "O"*/

@keyframes o-moves {
	0% {
	transform: translateY(-60%) translateX(-10%); /* Starting point */
	}
	50% {
	transform: translateY(0px) translateX(16px); /* Moving to this location */
	}
	100% {
	translateY(-60%) translateX(-10%);; /* Ending point */
	}
}

#o {
	transform: translateY(-60%) translateX(-10%);
	clip-path: inset(0); 
	animation: o-moves 5s ease-in-out infinite;
}

/* Defining the animation for "R"*/

@keyframes r1-moves {
	0% {
	transform: translateY(-10%) translateX(-80%);; /* Starting point */
	}
	50% {
	transform: translateY(-16px); /* Moving to this location */
	}
	100% {
	translateY(-10%) translateX(-80%);; /* Ending point */
	}
}

#r1 {
	transform: translateY(-10%) translateX(-80%);
	clip-path: inset(0); 
	animation: r1-moves 5s ease-in-out infinite;
}

/* Defining the animation for "D"*/

@keyframes d-moves {
0% {
	transform: translateY(-30%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(-30%) translateX(-40%); /* Ending point */
	}
}

#d {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(10); 
	animation: d-moves 5s ease-in-out infinite;
}

/* Defining the animation for "S" in "Words"*/

@keyframes s1-moves {
0% {
	transform: translateY(0%) translateX(-80%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-80%); /* Ending point */
	}
	}
	
#s1 {
	transform: translateY(0%) translateX(-80%);
	clip-path: inset(10); 
	animation: s1-moves 5s ease-in-out infinite;
}

/* Defining the animations for "AS"*/

/* Defining the animation for "A" in "As"*/

@keyframes a1-moves {
0% {
	transform: translateY(-90%) translateX(-20%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(-90%) translateX(-20%); /* Ending point */
	}
	}
	
#a1 {
	transform: translateY(-90%) translateX(-20%);
	clip-path: inset(10); 
	animation: a1-moves 5s ease-in-out infinite;
}

/* Defining the animations for "S" in "AS"*/

@keyframes s2-moves {
0% {
	transform: (10%) translateX(-10%); /* Starting point */
	}
	50% {
	transform: translateX(-16px); /* Moving to this location */
	}
	100% {
	transform: translateY(10%) translateX(-10%); /* Ending point */
	}
	}
	
#s2 {
	transform: translateY(10%) translateX(-10%);
	clip-path: inset(10); 
	animation: s1-moves 5s ease-in-out infinite;
}

/* Defining the animations for "MATERIAL"*/

/* Defining the animation for "M"*/

@keyframes m-moves {
	0% {
	transform: translateY(-30%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(-30%) translateX(-40%); /* Ending point */
	}
}

#m {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
	animation: m-moves 5s ease-in-out infinite;
}

/* Defining the animation for "A" in material*/

@keyframes a2-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#a2 {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: a2-moves 5s ease-in-out infinite;
}

/* Defining the animation for "T"*/

@keyframes t-moves {
	0% {
	transform: translateY(0%) translateX(-30%); /* Starting point */
	}
	50% {
	transform: translateY(8px) translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-30%); /* Ending point */
	}
}

#t {
	transform: translateY(0%) translateX(-30%);
	clip-path: inset(0); 
	animation: t-moves 5s ease-in-out infinite;
}

/* Defining the animation for "E"*/

@keyframes e-moves {
	0% {
	transform: translateY(80%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(80%) translateX(-40%); /* Ending point */
	}
}

#e {
	transform: translateY(80%) translateX(-40%);
	clip-path: inset(0); 
	animation: e-moves 5s ease-in-out infinite;
}

/* Defining the animation for "R"*/

@keyframes r2-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(-32px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#r2 {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: r2-moves 5s ease-in-out infinite;
}

/* Defining the animation for "I"*/

@keyframes i-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(-32px) translateX(-16px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#i {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: i-moves 5s ease-in-out infinite;
}

/* Defining the animation for second "A" in "material"*/

@keyframes a3-moves {
	0% {
	transform: translateY(-20%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(-20%) translateX(-40%); /* Ending point */
	}
}

#a3 {
	transform: translateY(-20%) translateX(-40%);
	clip-path: inset(0); 
	animation: a3-moves 5s ease-in-out infinite;
}

/* Defining the animation for second "L"*/

@keyframes l-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(16px); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#l {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: l-moves 5s ease-in-out infinite;
}
