@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variables */
:root {

	/* h1 */
	--h1-family: "Instrument Sans", sans-serif;
	--h1-size: 64px; 
	--h1-style: medium;
	--h1-spacing: 2rem;
	--h1-text-transform: uppercase;
	--h1-color: #DA3946;

	/* h2 */
	--h2-family: "Instrument Sans", sans-serif;
	--h2-size: 40px; 
	--h2-style: medium;

	/* h3 */
	--h3-family: "Instrument Sans", sans-serif;
	--h3-size: 32px; 
	--h3-style: medium;

	/* paragraph  */
	--paragraph-family: "Instrument Sans", sans-serif;
	--paragraph-size: 18px; 
	--paragraph-style: normal;
	--paragraph-spacing: 2rem;

	/* blockquotes */
	--blockquote-family: "Instrument Sans", sans-serif;
	--blockquote-size: 24px; 
	--blockquote-style: medium;
	--blockquote-spacing: 2rem;
	--blockquote-color: #DA3946;

	/* links */
	--links-family: "Instrument Sans", sans-serif;
	--links-size: 18px; 
	--links-style: bold;
	--links-text-decoration: underline;

	/* list */
	--list-family: "Instrument Sans", sans-serif;
	--list-size: 18px; 
	--list-style: bold;
	--list-spacing: 2rem;	

	/* spacing */
	--spacing-1: 16px;
	--spacing-2: 32px; 
	--spacing-3: 48px;
	--spacing-4: 64px;
	--spacing-5: 80px;
	--spacing-6: 96px;

}

	/* heading styles */

body{
	font-family: var(--paragraph-family);
	max-width: 80ch;
	color: #02010F;
}

h1 {
	font-family: var(--h1-family);
	font-size: var(--h1-size);
	font-style: var(--h1-style);
	margin-bottom: var(--h1-spacing);
	text-transform: var(--h1-text-transform);
	color: var(--h1-color);
	margin-bottom: var(--spacing-3);
	flex-direction: row;
}

h2 {
	font-family: var(--h2-family);
	font-size: var(--h2-size);
	font-style: var(--h2-style);
	margin: 0px var(--spacing-2);
}

h3 {
	font-family: var(--h3-family);
	font-size: var(--h3-size);
	font-style: var(--h3-style);
	margin-bottom: var(--spacing-2);
	margin: 0px var(--spacing-2);
}

	/* body styles */

section {
	margin-bottom: var(--spacing-6);
}

blockquote {
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin-bottom: var(--spacing-2);
	margin: 0px var(--spacing-2);
}

li {
	font-family: var(--list-family);
	font-size: var(--list-size);
	font-style: var(--list-style);
	line-height: var(--list-spacing);
	text-decoration: var(--list-text-decoration);
	margin: 0px var(--spacing-2);
}

a {
	font-family: var(--links-family);
	font-size: var(--links-size);
	font-style: var(--links-style);
	line-height: var(--links-spacing);
	text-decoration: var(--links-text-decoration);
}

p {
	font-family: var(--paragraph-family);
	font-size: var(--paragraph-size);
	font-style: var(--paragraph-style);
	line-height: var(--paragraph-spacing);
	margin-bottom: var(--spacing-1);
	margin: var(--spacing-2);
}

time{
	margin: var(--spacing-2);
}

	/* header */

ol {
	display: flex;
	flex-wrap: nowrap;
}

ol ol {
	flex-direction: column;
}

	/* title */

.square-container {
	display: flex; 
	background-color: white;
	overflow: hidden;
	position: relative;
	width: 100%; 
}

.square {
	width: var(--spacing-5);
	height: var(--spacing-5);
	border-left: 1px solid #DA3946;
	border-top: 1px solid #DA3946;
	border-bottom: 1px solid #DA3946;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lastsquare { 	/* adding line to the end of the squares */
	border-right: 1px solid #DA3946;
}

#middlesquare {
	border-top: 0px;
	border-bottom: 0px;
}

#bottomsquarecontainer {
	display: flex;
	justify-content: flex-end;
}

#bottomsquare {
	border-top: 0px;
}

/* need to figure out how to remove line on the top of the "l" in "material""*/

#s-square{ 
	border-top: 0px solid #DA3946;
	border-bottom: 0px solid #DA3946;
	border-right: 1px solid #DA3946;
}

 		/* positioning for each letter in "words as material"*/

#m {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}

#a2 {
	transform: translateY(0%) translateX(-60%);
	clip-path: inset(top right bottom left);
}

#t {
	transform: translateY(0%) translateX(-60%);
	clip-path: inset(0); 
}

#e {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}

#e {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}

#r {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}

#i {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}

#a4 {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}

#l {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
}