@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variables */
:root {

	/* h1 */
	--h1-family: "Instrument Sans", sans-serif;
	--h1-size: 3.5rem; 
	--h1-style: medium;
	--h1-spacing: 2rem;
	--h1-text-transform: uppercase;
	--h1-color: #DA3946;

	/* h2 */
	--h2-family: "Instrument Sans", sans-serif;
	--h2-size: calc(var(--h1-size) / 2.1); 
	--h2-style: medium;
	--h2-border:1px solid #DA3946;

	/* h3 */
	--h3-family: "Instrument Sans", sans-serif;
	--h3-size: calc(var(--h1-size) / 2.8); 
	--h3-style: medium;

	/* paragraph  */
	--paragraph-family: "Instrument Sans", sans-serif;
	--paragraph-size: 1.125rem; 
	--paragraph-style: normal;
	--paragraph-line-height: 1.75rem;

	/* blockquotes */
	--blockquote-family: "Instrument Sans", sans-serif;
	--blockquote-size: 1.75rem; 
	--blockquote-style: medium;
	--blockquote-spacing: 2.25rem;
	--blockquote-color: #DA3946;
	--blockquote-border-left:1px solid #DA3946;
	--blockquote-padding-left:20px;

	/* links */
	--links-family: "Instrument Sans", sans-serif;
	--links-size: 1.125rem; 
	--links-style: bold;
	--links-text-decoration: underline;

	/* list */
	--list-family: "Instrument Sans", sans-serif;
	--list-size: 1.125rem;
	--list-style: bold;
	--list-spacing: 2rem;	

	/* spacing */
	--spacing-1: 16px;
	--spacing-2: 32px; 
	--spacing-3: 48px;
	--spacing-4: 64px;
	--spacing-5: 80px;
	--spacing-6: 96px;
	--spacing-7: 112px;
	--spacing-8: 128px;
	--spacing-9: 144px;
}

	/* heading styles */

header{
	/* position: fixed; */
	top: 0;
	width: 100%; 
	z-index: 1000; 
}

h1 {
	font-family: var(--h1-family);
	font-size: var(--h1-size);
	font-style: var(--h1-style);
	text-transform: var(--h1-text-transform);
	color: var(--h1-color);
}

h2 {
	box-sizing: border-box;
	font-family: var(--h2-family);
	font-size: var(--h2-size);
	font-style: var(--h2-style);
	margin-bottom: 0px 0px;
	padding: var(--spacing-2) var(--spacing-1);
	background-color: white;
	border-top: var(--h2-border);
	border-bottom: var(--h2-border);
	width: 100%;
	height: 100px;
	display: flex;
	z-index: 2;
}

h3 {
	font-family: var(--h3-family);
	font-size: var(--h3-size);
	font-style: var(--h3-style);
	margin: var(--spacing-4) var(--spacing-2) 0px 0px;
	background-color: #DA3946;
	width: 100%;
	color: white;
	padding: var(--spacing-1);
}

	/* body styles */

body{
	font-family: var(--paragraph-family);
	color: #02010F;
}
	

section {
	margin-top: var(--spacing-3);
	margin-bottom: var(--spacing-3);
}

a {
	font-family: var(--links-family);
	font-size: var(--links-size);
	font-style: var(--links-style);
	line-height: var(--links-spacing);
	text-decoration: var(--links-text-decoration);
}

a:hover {
	color: #DA3946;
}

blockquote {
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin: var(--spacing-2) var(--spacing-1) ;
	border-left: var(--blockquote-border-left);
	padding-left: var(--blockquote-padding-left);
}

p {
	font-family: var(--paragraph-family);
	font-size: var(--paragraph-size);
	font-style: var(--paragraph-style);
	margin: 0px var(--spacing-1) var(--spacing-1) var(--spacing-1) ;
	line-height: var(--paragraph-line-height);
	max-width: 60ch;
}

q{
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin-bottom: var(--spacing-3);
	list-style-type: none;
}

aside{
	color: #7c7c7c;
	font-size: calc(var(--paragraph-size) * 0.9);
	font-style: italic;
	margin: var(--spacing-1) var(--spacing-1) var(--spacing-2)  var(--spacing-1) ;
	line-height: calc(var(--paragraph-line-height) * 0.9);
}

li{
	font-family: var(--list-family);
	font-size: var(--list-size);
	font-style: var(--list-style);
	padding:var(--list-spacing);
}


	/* nav bar */

nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	/* border-bottom: 1px solid #DA3946; */
	padding: var(--spacing-2) var(--spacing-2) var(--spacing-1)  var(--spacing-2);
	color: black;
	width: 100%;
	z-index: 1000;
}

.nav-left {
	font-family: sans-serif;
	font-size: 20px;
	font-style: normal;
}

.hamburger{
	cursor: pointer;
	font-size: 30px;
	color: #DA3946;
}

.menu{
	display: none;
	background-color: white;
	margin-bottom: var(--spacing-3);
	color: black;
	padding-bottom: 2rem;
}

.menu.active {
	display: block;
	border-top: 1px solid #DA3946;
	border-bottom: 1px solid #DA3946;
}

.menu li{
	padding-bottom: 0px;
}
.menu li:hover {
	color:#DA3946;
}

.menu a{
	text-decoration: none;
}

.sticky{
	position: sticky;
	top: 0px
}

.sticky-2{
	position: sticky;
	top: 100px;
}

	/* chapter */

.chapter{
	color:#DA3946;
	margin-left: var(--spacing-3);
	margin-top: 80px;
}
	/* number */
	/* number */
	/* number */

.number-container {
	padding: 8px;
	border: 1px solid #DA3946;
	width: 80px;
	height: 80px;
	align-items: center;
	color: #DA3946;
	font-weight: 600;
	margin: var(--spacing-1);
	overflow: hidden;
}

@keyframes number-moves {
0% {
	transform: translateY(0%) translateX(-7%); /* Starting point */
	}
	50% {
	transform: translateY(-40%) translateX(-20%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-7%); /* Ending point */
	}
}

.number-animation {
	transform: translateY(0%) translateX(-7%);
	clip-path: inset(10); 
	animation: number-moves 5s ease-in-out infinite;
	justify-content: center;
	border: 0px;
}


	/* summary */

.accordion{
	margin: var(--spacing-2) var(--spacing-1) var(--spacing-2) var(--spacing-4);
	max-width: 112vh;
}

summary{
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin: var(--spacing-1) var(--spacing-2);
	padding-bottom: 16px;
	border-bottom: 1px solid #DA3946;
	flex: auto;
	list-style-type: '+';
}

summary::after {
    content: " +";
}
details[open] summary::after {
    content: " -";
}

	/* questions lists */

.questions_list{
	font-family: var(--blockquote-family);
	font-size: var(--blockquote-size);
	font-style: var(--blockquote-style);
	line-height: var(--blockquote-spacing);
	color: var(--blockquote-color);
	margin: var(--spacing-2) var(--spacing-1);
	border: 1px solid #DA3946;
	padding: var(--spacing-2);
	max-width: 744px;
}

.left-section{
	flex:1;
	font-size: var(--paragraph-size);
	margin-right: var(--spacing-4);
	padding-top: 0px;
}
.right-section{
	flex:2;
}

.multiple-choices{
	display: flex;
	flex-wrap: wrap;
	gap:10px;
	margin-top: var(--spacing-2);
	margin-bottom: var(--spacing-2);
	padding-left: var(--spacing-2);
	padding-right: var(--spacing-2);
}

.multiple-choices button {
	border: 1px solid #DA3946;
	padding: var(--spacing-1) var(--spacing-2);
	background-color: white;
	color: #DA3946;
	font-size: var(--paragraph-size);
	cursor:pointer;
}

.multiple-choices button:hover{
	background-color: #DA3946;
	color: white;
}

.multiple-choices button:active{
	background-color: #DA3946;
	color: white;
}

	/* flexblox(should be added into class later) */
/* ol {
	display: flex;
	flex-wrap: nowrap;
}

ol ol {
	flex-direction: column;
} */





	/* title */
	/* title */
	/* title */
	/* title */
	/* title */

.square-container { 
	display: grid; 
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 0px;
	margin: 16px auto;
	justify-content: left;
}

.square-1 {
	background-color: white;
	border: 1px solid #DA3946;
	display: flex;
    align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	padding: 16px;
}
.square-2 {
	background-color: white;
	border: 1px solid #DA3946;
	border-left: 0px;
	display: flex;
    align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	padding: 16px;
}
.square-3 {
	background-color: white;
	border: 1px solid #DA3946;
	border-left: 0px;
	border-top: 0px;
	display: flex;
    align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	padding: 16px;
}
.square-4 {
	background-color: white;
	border: 1px solid #DA3946;
	border-top: 0px;
	display: flex;
    align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	padding: 16px;
}

.empty-right{
	border-right: 1px solid #DA3946;
}

#author-square {
	background-color: white;
	border-bottom: 1px solid #DA3946;
	display: flex;
    align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	padding: 16px;

	grid-column: span 4;
	aspect-ratio: 4/1;
	border-right: 0px;
	justify-content: left;
}

/* arrow */
.arrow-container{
	display:flex;
	justify-content: left;
	align-items:center;
	padding-left: var(--spacing-2);
}
.arrow{
	display: inline-block;
	transform: rotate(90deg);
}


/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */


@media (min-width: 744px) {

	nav {
		padding: var(--spacing-2) var(--spacing-4) var(--spacing-1)  var(--spacing-4);
		color: black;
		width: 100%;
		z-index: 1000;
	}

	h1 {
        font-size: calc(var(--h1-size) * 1.5);
	}
	h2{
		font-size: calc(var(--h2-size)*1.5);
	}

	.square-container { 
		width: 60vw;
	}
	.titleandarrow{
		display: flex;
		justify-content: center;
		align-items: end;
		padding: 0px var(--spacing-3);
	}

	h2 {
		padding-left: var(--spacing-4);
	}

	/* media queries for body text */

	aside{
		font-style: italic;
		margin: var(--spacing-5) var(--spacing-4) var(--spacing-3)  var(--spacing-4) ;
		line-height: calc(var(--paragraph-line-height) * 0.9);
		max-width: 70ch;
	}

	p{
		margin: 0px var(--spacing-4) var(--spacing-1) var(--spacing-4) ;
	}

	blockquote{
		margin: 0px var(--spacing-4) var(--spacing-2) 0px;
	}

	.two-column {
		display: grid; 
		grid-template-columns: repeat(2, 1fr);
		gap: 0px;
		width: auto;}
	ul{
		grid-column: 2;}

	blockquote{
		grid-column: 2;}

	.number-container {
		width: 120px;
		height: 120px;
		margin-left: var(--spacing-4);
	}

	.choices-container{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-sart;
		justify-content: space-between;
		width:100%;
		margin: var(--spacing-3) 0px;
	}
}

@media (min-width: 1280px) {
    h1 {
        font-size: calc(var(--h1-size) * 2);
    }
}



/* Print Media Query (for 816 px) */
/* Print Media Query (for 816 px) */
/* Print Media Query (for 816 px) */
/* Print Media Query (for 816 px) */
/* Print Media Query (for 816 px) */



/* animaion */
/* animaion */
/* animaion */
/* animaion */
/* animaion */

/* Defining the animations for "WORDS"*/

/* Defining the animation for "W"*/

@keyframes w-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateX(-30%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#w {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: w-moves 3s ease-in-out 12;
}

/* Defining the animation for "O"*/

@keyframes o-moves {
	0% {
	transform: translateY(-40%) translateX(0%); /* Starting point */
	}
	50% {
	transform: translateY(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(-40%) translateX(0%); /* Ending point */
	}
}

#o {
	transform: translateY(-40%) translateX(0%);
	clip-path: inset(0); 
	animation: o-moves 3s ease-in-out 12;
	animation-delay: 1s;
}

/* Defining the animation for "R"*/

@keyframes r1-moves {
	0% {
	transform: translateY(10%) translateX(-70%); /* Starting point */
	}
	50% {
	transform: translateY(-5%) translateX(-55%); /* Moving to this location */
	}
	100% {
	transform: translateY(10%) translateX(-70%); /* Ending point */
	}
}

#r1 {
	transform: translateY(10%) translateX(-70%);
	clip-path: inset(0); 
	animation: r1-moves 3s ease-in-out 12;
	animation-delay: 3s;
}

/* Defining the animation for "D"*/

@keyframes d-moves {
0% {
	transform: translateY(-25%) translateX(-60%); /* Starting point */
	}
	50% {
	transform: translateY(-10%) translateX(-45%); /* Moving to this location */
	}
	100% {
	transform: translateY(-25%) translateX(-60%); /* Ending point */
	}
}

#d {
	transform: translateY(-25%) translateX(-60%);
	clip-path: inset(10); 
	animation: d-moves 3s ease-in-out 12;
	animation-delay: 4s;
}

/* Defining the animation for "S" in "Words"*/

@keyframes s1-moves {
0% {
	transform: translateY(0%) translateX(-80%); /* Starting point */
	}
	50% {
	transform: translateX(-65%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-80%); /* Ending point */
	}
}
	
#s1 {
	transform: translateY(0%) translateX(-80%);
	clip-path: inset(10); 
	animation: s1-moves 3s ease-in-out 12;
	animation-delay: 5s;
}

/* Defining the animations for "AS"*/

/* Defining the animation for "A" in "As"*/

@keyframes a1-moves {
0% {
	transform: translateY(-20%) translateX(-20%); /* Starting point */
	}
	50% {
	transform: translateY(-5%) translateX(-5%); /* Moving to this location */
	}
	100% {
	transform: translateY(-20%) translateX(-20%); /* Ending point */
	}
	}
	
#a1 {
	transform: translateY(-20%) translateX(-20%);
	clip-path: inset(10); 
	animation: a1-moves 3s ease-in-out 12;
	animation-delay: 6s;
}

/* Defining the animations for "S" in "AS"*/

@keyframes s2-moves {
0% {
	transform: (10%) translateX(-10%); /* Starting point */
	}
	50% {
	transform: translateY(-5%) translateX(5%);; /* Moving to this location */
	}
	100% {
	transform: translateY(10%) translateX(-10%); /* Ending point */
	}
	}
	
#s2 {
	transform: translateY(10%) translateX(-10%);
	clip-path: inset(10); 
	animation: s2-moves 3s ease-in-out 12;
	animation-delay: 7s;
}

/* Defining the animations for "MATERIAL"*/

/* Defining the animation for "M"*/

@keyframes m-moves {
	0% {
	transform: translateY(-30%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(-15%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(-30%) translateX(-40%); /* Ending point */
	}
}

#m {
	transform: translateY(-30%) translateX(-40%);
	clip-path: inset(0); 
	animation: m-moves 3s ease-in-out 12;
	animation-delay: 8s;
}

/* Defining the animation for "A" in material*/

@keyframes a2-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(-15%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#a2 {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: a2-moves 3s ease-in-out 12;
	animation-delay: 9s;
}

/* Defining the animation for "T"*/

@keyframes t-moves {
	0% {
	transform: translateY(0%) translateX(-30%); /* Starting point */
	}
	50% {
	transform: translateY(-15%) translateX(-45%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-30%); /* Ending point */
	}
}

#t {
	transform: translateY(0%) translateX(-30%);
	clip-path: inset(0); 
	animation: t-moves 3s ease-in-out 12;
	animation-delay: 10s;
}

/* Defining the animation for "E"*/

@keyframes e-moves {
	0% {
	transform: translateY(-15%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(0%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(-15%) translateX(-40%); /* Ending point */
	}
}

#e {
	transform: translateY(-15%) translateX(-40%);
	clip-path: inset(0); 
	animation: e-moves 3s ease-in-out 12;
	animation-delay: 11s;
}

/* Defining the animation for "R"*/

@keyframes r2-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(-15%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#r2 {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: r2-moves 3s ease-in-out 12;
	animation-delay: 12s;
}

/* Defining the animation for "I"*/

@keyframes i-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(-15%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#i {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: i-moves 3s ease-in-out 12;
	animation-delay: 13s;
}

/* Defining the animation for second "A" in "material"*/

@keyframes a3-moves {
	0% {
	transform: translateY(-5%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(10%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(-5%) translateX(-40%); /* Ending point */
	}
}

#a3 {
	transform: translateY(-5%) translateX(-40%);
	clip-path: inset(0); 
	animation: a3-moves 3s ease-in-out 12;
	animation-delay: 14s;
}

/* Defining the animation for second "L"*/

@keyframes l-moves {
	0% {
	transform: translateY(0%) translateX(-40%); /* Starting point */
	}
	50% {
	transform: translateY(-15%) translateX(-25%); /* Moving to this location */
	}
	100% {
	transform: translateY(0%) translateX(-40%); /* Ending point */
	}
}

#l {
	transform: translateY(0%) translateX(-40%);
	clip-path: inset(0); 
	animation: l-moves 3s ease-in-out 12;
	animation-delay: 15s;
}

footer{
	display:flex;
	background-color: #DA3946;
	color:white;
	padding: var(--spacing-1);
}